body {
   background-image: url(assets/bg-image.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-color: #573824;
}

#page {
   box-sizing: border-box;
   padding: 24px;
   background-color: #F0E8C2;
   width: 800px;
   border-radius: 24px;
   margin: 48px auto;
}

img {
   border-radius: 16px;
}